<header>
  <div class="container">
    <div class="text">
      <h1 class="typed-element">Bienvenue Dans HiraFiat Al-Rif</h1>
      <p>
        Harfiyat Al-Rif soutient les femmes rurales dans la vente de leurs produits artisanaux et l'apprentissage de nouvelles compétences en ligne.
      </p>
      <button mat-raised-button mat-lg-button color="primary">
        <mat-icon>add_shopping_cart</mat-icon>
        <a class="a-link" href="#products"><strong>Explore Products</strong></a>
      </button>
    </div>
    <div class="img">
      <img src="assets/images/laptop3d.png" alt="Image" />
    </div>
  </div>
</header>
