<form [formGroup]="userForm" (ngSubmit)="submit()">
  <h2 mat-dialog-title>Add User</h2>
  <mat-dialog-content class="mat-typography">
    
    <!-- Email Field -->
    <mat-form-field class="form-first" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="User Email" />
      <mat-error *ngIf="userForm.controls['email'].hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="userForm.controls['email'].hasError('email')">
        Enter a valid email
      </mat-error>
    </mat-form-field>
  
    <!-- Name Field -->
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="User Name" />
      <mat-error *ngIf="userForm.controls['name'].hasError('required')">
        Name is required
      </mat-error>
    </mat-form-field>
  
    <!-- Password Field -->
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        type="password"
        matInput
        formControlName="password"
        placeholder="User Password"
      />
      <mat-error *ngIf="userForm.controls['password'].hasError('required')">
        Password is required
      </mat-error>
      <mat-error *ngIf="userForm.controls['password'].hasError('minlength')">
        Password must be at least 6 characters long
      </mat-error>
    </mat-form-field>
  
  </mat-dialog-content>
  
  <mat-dialog-actions>
    <button mat-button color="accent" mat-dialog-close>Cancel</button>
    <button
      mat-button
      color="primary"
      [disabled]="userForm.invalid"
      type="submit"
      cdkFocusInitial
    >
      Submit
    </button>
  </mat-dialog-actions>
</form>
