<style>
    body {
      background-image: url('assets/images/gestion.jpg');
      background-size: cover;
      background-position: center;
      height: 100vh; /* Ensure the background covers the full viewport height */
      margin: 0; /* Remove default body margin */
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .form-container {
      background-color: rgba(255, 255, 255, 0.8);
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      width:400px;
      
    }
  
    label {
      font-weight: bold;
    }
  
    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
  
    button {
      background-color: #007bff;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      width: 100%;
    }
  
    button:disabled {
      background-color: #ccc;
    }
  
    button:hover {
      background-color: #0056b3;
    }
  
    a {
      color: #007bff;
      text-decoration: none;
    }
  
    a:hover {
      text-decoration: underline;
    }
  
    .error-message {
      color: red;
      font-size: 12px;
    }
  </style>
  
  <body>
    <div class="form-container">
      <form [formGroup]="data" (ngSubmit)="handleSubmit()">
        <div class="mb-3">
          <label for="email">Email</label>
          <input type="email" id="email" placeholder="Veuillez entrer votre  email" formControlName="userId" required>
  
          <!-- Error message for email field -->
          <div *ngIf="data.get('userId')?.touched && data.get('userId')?.invalid" class="error-message">
            <p *ngIf="data.get('userId')?.hasError('required')">Email de l'utilisateur est requis</p>
            <p *ngIf="data.get('userId')?.hasError('email')">Veuillez entrer votre email.</p>
          </div>
        </div>
  
        <div class="mb-3">
          <label for="password">Password</label>
          <input type="password" id="password" placeholder="Veuillez entrer votre mot de passe" formControlName="password" required>
  
          <!-- Error message for password field -->
          <div *ngIf="data.get('password')?.touched && data.get('password')?.invalid" class="error-message">
            <p *ngIf="data.get('password')?.hasError('required')">Password de l'utilisateur est requis</p>
          </div>
        </div>
  
        <div class="mb-3">
          <button type="submit" [disabled]="data.invalid">Login</button>
        </div>
  
        <div class="mb-3">
          <a routerLink="/register">Vous n'avez pas de compte ? Inscrivez-vous ici</a>
        </div>
      </form>
    </div>
  </body>
  