




<section id="content">
    <main>
      <div class="head-title">
        <div class="left">
          <h1>contact</h1>
          <ul class="breadcrumb">
            <li>
              <a href="#">Panel</a>
            </li>
            <li><i class="bx bx-chevron-right"></i></li>
            <li><a href="#" class="active">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="head-table">
        <mat-card>
          <mat-card-content>
            <h3 class="card-title">Contact List</h3>
          
           
          </mat-card-content>
        </mat-card>
      </div>
    </main>
  </section>














<div class="row">
    <div class="col-md-11" style="margin-left: 20px">
     
      <!-- Contacts Table -->
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Subject</th>
            <th>Message</th>
          
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let contact of listContacts">
            <td>{{ contact.idContact }}</td>
            <td>{{ contact.nom }}</td>
            <td>{{ contact.email }}</td>
            <td>{{ contact.subject }}</td>
            <td>{{ contact.message }}</td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  

  
  <!-- Styles for Modal -->
 
  