<mat-toolbar>
  <button
    class="sidebar-toggle"
    type="button"
    aria-label="Toggle sidebar"
    mat-icon-button
    (click)="sidenavToggle()"
  >
    <div *ngIf="this.isMobile">
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </div>

    <div *ngIf="!this.isMobile">
      <mat-icon>menu</mat-icon>
    </div>
  </button>

  <app-notif (sendEventToParent)="getNotifEvent($event)"></app-notif>
  <app-profile></app-profile>
</mat-toolbar>

<mat-sidenav-container id="sidenav">
  <mat-sidenav mode="side" #sidenav>
    <img
      class="avatar mat-elevation-z8"
      src="../../../assets/avatar/avatar.jpeg"
    />

    <h4 class="name">Brahim BenYounes</h4>
    <p class="designation">Admin</p>

    <mat-divider></mat-divider>
    <a
      mat-button
      class="menu-button"
      [ngClass]="activeMenu === 'home' ? 'active' : ''"
      routerLink="/panel/home"
      (click)="setMenuActive('home')"
    >
      <mat-icon>home</mat-icon>
      <span class="btn-text">Home</span>
    </a>

      <a
      mat-button
      class="menu-button"
      [ngClass]="activeMenu === 'users' ? 'active' : ''"
      routerLink="/panel/users"
      (click)="setMenuActive('users')"
    >
      <mat-icon>person</mat-icon>
      <span class="btn-text">Usres</span>
    </a>

    <a
      mat-button
      class="menu-button"
      [ngClass]="activeMenu === 'products' ? 'active' : ''"
      routerLink="/panel/products"
      (click)="setMenuActive('products')"
    >
      <mat-icon>shopping_basket</mat-icon>
      <span class="btn-text">Products</span>
    </a>
    <a
      mat-button
      class="menu-button"
      [ngClass]="activeMenu === 'orders' ? 'active' : ''"
      routerLink="/panel/orders"
      (click)="setMenuActive('orders')"
    >
      <mat-icon>shopping_cart</mat-icon>
      <span class="btn-text">Orders</span>
    </a>
    <a
    mat-button
    class="menu-button"
    [ngClass]="activeMenu === 'formations' ? 'active' : ''"
    routerLink="/panel/formations"
    (click)="setMenuActive('formations')"
  >
     <mat-icon>menu_book</mat-icon>
    <span class="btn-text">formations</span>
  </a>

  

    <a
    mat-button
    class="menu-button"
    [ngClass]="activeMenu === 'list-contact' ? 'active' : ''"
    routerLink="/panel/list-contact"
    (click)="setMenuActive('list-contact')"
  >
     <mat-icon>contacts</mat-icon>
    <span class="btn-text">Contact</span>
  </a>
    
    <mat-divider></mat-divider>
    <a mat-button class="menu-button" routerLink="/login">
      <mat-icon>logout</mat-icon>
      <span class="btn-text">Logout</span>
    </a>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z4"><router-outlet></router-outlet></div>
  </mat-sidenav-content>
</mat-sidenav-container>
