<h2 mat-dialog-title>Show Formation</h2>

<mat-dialog-content class="mat-typography" *ngIf="Formation">
  <mat-form-field class="form-first" appearance="outline">
    <mat-label>Title</mat-label>
    <input matInput [value]="Formation.titre" readonly />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <input matInput [value]="Formation.description" readonly />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Video URL</mat-label>
    <input matInput [value]="Formation.videoUrl" readonly />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Video ID</mat-label>
    <input matInput [value]="Formation.videoId" readonly />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button color="accent" mat-dialog-close>Close</button>
</mat-dialog-actions>
