<section id="services">
  <div class="container">
    <div class="title"><h3>Services</h3></div>
    <div class="content">
      <ul class="service-list">
        <li>
          <i class="bx bx-support"></i>
          <p>
            Offrons un support technique continu pour aider les femmes rurales à utiliser la plateforme et vendre leurs produits..
          </p>
        </li>
        <li>
          <i class="bx bxs-ambulance"></i>
          <p>
            Proposons des formations en ligne pour améliorer les compétences et apprendre de nouvelles techniques dans le domaine de l'artisanat.
          </p>
        </li>
        <li>
          <i class='bx bx-book-bookmark'></i>
          <p>
            Offrons des ressources éducatives et des contenus de formation pour aider les femmes rurales à développer leurs compétences.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
